:root {
    --red : #8b2635;
    --black : #2e3532;
    --white : #E0E2DB;
    --gray : #D2D4C8;
    --green : #D3EFBD;
}

body{
    background-color: var(--white);
    text-align: center;
}

.all {
    box-shadow: 10px 10px 10px white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.content {
    height: 300px;
    background-color: var(--black);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}

a {
    padding: 10px 50px 10px 50px;
    background-color: var(--green);
    color: var(--black);
    border-radius: 10px;
    margin-top: 10px;
}

a:hover {
    box-shadow: 1px 1px 10px greenyellow;
}

table {
    width: 100%;
    border-color: #D2D4C8;
    border-radius: 10px;
    background-color: #2e3532;
    color: #D2D4C8;
    margin-top: 10px;
}